::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #111111;
    font-family: "Roboto Mono", "Courier New", monospace;
    color: #008e00;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0 0 0 1rem;
}

header img {
    cursor: pointer;
    margin: 0 1rem 0 0;
    height: 3rem;
    aspect-ratio: 1/1;
    filter: invert(11%) sepia(0%) saturate(129%) hue-rotate(252deg) contrast(90%) brightness(1.6);
}

header img:hover {
    filter: invert(14%) sepia(0%) saturate(581%) hue-rotate(147deg) contrast(81%) brightness(.8);
}

#configMenuAlignmentWrapper {
    display: flex;
    justify-content: center;
}

#configMenu {
    z-index: 10;

    position: absolute;
    grid-template-columns: auto auto max-content max-content;
    grid-template-rows: max-content min-content auto max-content;
    gap: 1vh;

    min-height: 90vh;
    max-width: 90vw;
    min-width: 70vw;
    margin: 1rem;

    background-color: #363636;
    color: white;
    border-radius: .8%;
}

#configMenu p:not(li p):not(#default p):first-of-type {
    grid-column: 1 / 3;
    margin: .5rem auto .5rem auto;

    font-size: larger;

    display: flex;
    align-self: center;
    text-align: center;
}

#configMenu img {
    cursor: pointer;
    height: 2.5rem;
    margin: .1rem;
    aspect-ratio: 1/1;
    filter: invert(93%) sepia(42%) saturate(2%) hue-rotate(20deg) brightness(104%) contrast(101%);
}

#configMenu img:hover {
    filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(181deg) brightness(90%) contrast(87%);
}

#configMenu ul {
    grid-column: 1 / 3;
    height: max-content;
    padding-left: 5vw;
    padding-top: 2vh;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#configMenu ul li {
    display: flex;
    flex-flow: row wrap;
    padding: .5vh 0 .5vh 0;
    justify-content: space-between;
    color: rgb(202, 202, 202);
    width: 90%;
}

#configMenu ul li input {
    margin-left: 1vw;
    text-align: right;
    width: 8vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #626262;
    color: white;
    padding-right: 1vw;
}

#configMenu #default {
    grid-column: 3 / span 2;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#configMenu #default p {
    font-size: .9rem;
    text-align: left;
    color: #626262;
    cursor: pointer;
    height: max-content;
    margin: 0;
}

#configMenu #default p:hover {
    filter: brightness(.8);
}

/* from w3schools https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* removes those arrows on the input fields that are set to type="number" */
#configMenu ul li input::-webkit-outer-spin-button,
#configMenu ul li input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#configMenu ul li input[type=number] {
    -moz-appearance: textfield;
}


#configMenu ul li label {
    margin: 0;
    padding: 0;
}

#configMenu p:last-of-type {
    text-align: center;
    grid-column: 3 / 1;
    grid-row: 4;
}

section ul {
    margin: 1rem 0 0 0;
    padding: 0;
    max-width: 90%;
    height: 80vh;
    overflow: hidden;
    font-size: smaller;
}

section ul li {
    margin: 0 0 0 1rem;
    padding: 0;
    list-style-type: none;
}

a {
    color: #008e00;
}

a:hover {
    color: #005500;
}

a:visited {
    color: grey;
}