::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #111111;
    font-family: "Roboto Mono", "Courier New", monospace;
    color: #008e00;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0 0 0 1rem;
}

header img {
    cursor: pointer;
    margin: 0 1rem 0 0;
    height: 3rem;
    aspect-ratio: 1/1;
    filter: invert(11%) sepia(0%) saturate(129%) hue-rotate(252deg) brightness(94%) contrast(90%);
}

header img:hover {
    filter: invert(14%) sepia(0%) saturate(581%) hue-rotate(147deg) brightness(98%) contrast(81%);
}

#configMenuAlignmentWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 98vh;
    width: 99vw;
}

#configMenu {
    z-index: 10;

    position: absolute;
    grid-template-columns: auto auto max-content;
    grid-template-rows: max-content max-content;
    gap: 1vh;

    min-height: 90vh;
    max-width: 90vw;
    min-width: 70vw;
    margin: 1rem;

    background-color: #363636;
    color: white;
    border-radius: .8%;
}

#configMenu p:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: .5rem auto .5rem auto;

    font-size: larger;

    display: flex;
    align-self: center;
    text-align: center;
}

#configMenu img {
    cursor: pointer;
    height: 2.5rem;
    margin: .4rem;
    aspect-ratio: 1/1;
    filter: invert(93%) sepia(42%) saturate(2%) hue-rotate(20deg) brightness(104%) contrast(101%);
}

#configMenu img:hover {
    filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(181deg) brightness(90%) contrast(87%);
}

#configMenu ul {
    grid-column-start: 1;
    grid-column-end: 3;
    height: max-content;
}

section ul {
    margin: 1rem 0 0 0;
    padding: 0;
    max-width: 90%;
    height: 80vh;
    overflow: hidden;
    font-size: smaller;
}

section ul li {
    margin: 0 0 0 1rem;
    padding: 0;
    list-style-type: none;
}