::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #111111;
    font-family: "Roboto Mono", "Courier New", monospace;
    color: #008e00;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0 0 0 1rem;
}

header img {
    margin: 0 1rem 0 0;
    height: 3rem;
    aspect-ratio: 1/1;
    filter: invert(11%) sepia(0%) saturate(129%) hue-rotate(252deg) brightness(94%) contrast(90%);
}

header img:hover {
    filter: invert(14%) sepia(0%) saturate(581%) hue-rotate(147deg) brightness(98%) contrast(81%);
}

#configMenuAlignmentWrapper {
    display: flex;
    justify-content: center;
}

#configMenu {
    position: absolute;
    /* display: none; */
    display: block;

    margin: 1vh;
    height: 90vh;
    max-width: 90vw;
    min-width: 50vw;
    aspect-ratio: .9;

    background-color: #363636;
    border-radius: .4%;
}

#configMenu p {
    margin: 2vh;
    color: white;
}

section ul {
    margin: 1rem 0 0 0;
    padding: 0;
    max-width: 90%;
    height: 80vh;
    overflow: hidden;
    font-size: smaller;
}

section ul li {
    margin: 0 0 0 1rem;
    padding: 0;
    list-style-type: none;
}